<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.0">
  <name>KTI COIN</name>
  <author>Sempoa</author>
  <description>KTI COIN</description>
  <license href="http://opensource.org/licenses/alphabetical"></license>
  <access subdomains="true" uri="file:///store/home" />
  <access subdomains="true" uri="file:///SDCard" />
  <access subdomains="true" uri="https://sempoa.biz" />
  <icon rim:hover="false" src="res/icon/blackberry/icon-80.png" />
  <icon rim:hover="true" src="res/icon/blackberry/icon-80.png" />
  <rim:loadingScreen backgroundColor="#CFCFCF" foregroundImage="res/screen/blackberry/screen-225.png" onFirstLaunch="true">
  <rim:transitionEffect type="fadeOut" /></rim:loadingScreen>
  <rim:orientation mode="portrait" />
  <content src="https://sempoa.biz/community/78" />
  <rim:permissions>
    <rim:permit>use_camera</rim:permit>
    <rim:permit>read_device_identifying_information</rim:permit>
    <rim:permit>access_shared</rim:permit>
    <rim:permit>read_geolocation</rim:permit>
    <rim:permit>record_audio</rim:permit>
    <rim:permit>access_pimdomain_contacts</rim:permit>
  </rim:permissions>
</widget>