.community-merchants { background:#FFF; }
.tbl_community{ margin-bottom:10px; }
.tbl_community h5,.tbl_community table{ font-size:12px; }
.merchant-discounts label{ font-weight:normal;  border-bottom:1px double #F2F2F2; }
.merchant-discounts, .merchant-info{ font-size:11px; padding:5px; }
