<ifModule mod_headers.c>
Header unset ETag
</ifModule>
FileETag None

<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymLinks
RewriteRule ^([a-z0-9_-]+)$ index.php?page=$1 [L]
RewriteRule ^(sempoaCom)/([0-9]+)$ products/sempoaCom/index.php?id_coin=$2 [L]
RewriteRule ^(community)/([0-9]+)$ products/community/index.php?id_coin=$2 [L]
RewriteRule ^(community)/(titanium)$ products/community/index.php?id_coin=1&titanium=true [L]
RewriteRule ^(community)/([0-9]+)/([a-z_]+=.*)$ products/community/index.php?id_coin=$2&direction=$3 [L]

RewriteRule ^(discoin.spa)$ index.php?spage=$1 [L]
RewriteRule ^(website)/([a-z._]+)$ index.php?module=$1&page=$2 [L]
RewriteRule ^(website)/([a-z_]+)/(.*)$ index.php?module=$1&page=$2&parameters=$3 [NE,B,L]
RewriteRule ^(cpanel)/([a-z._=?]+)$ index.php?module=$1&page=$2 [L]

RewriteRule ^([a-z]+).coin$ 						zendfront/pages/discoin/index.php?filename=$1 [L]
RewriteRule ^([a-z]+).coin/([a-z]+)$ 				zendfront/pages/discoin/index.php?filename=$1&dpage=$2 [L]
RewriteRule ^([a-z]+).coin/([a-z]+)/([0-9]+)/(.*)$ 	zendfront/pages/discoin/index.php?filename=$1&dpage=$2&id=$3&parameters=$4 [L]
RewriteRule ^(coin)/([a-z]+)$ 						zendfront/files/coin/index.php?filename=$2 [L]

RewriteRule ^(sitemap.xml)$ 	sitemap.php [L]

</ifModule>
<IfModule pagespeed_module>
   ModPagespeed off
</IfModule>
<IfModule mod_expires.c>
# Expire images header
ExpiresActive On
ExpiresDefault A0
ExpiresByType image/gif A2592000
ExpiresByType image/png A2592000
ExpiresByType image/jpg A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/ico A2592000
ExpiresByType text/css A2592000
ExpiresByType application/javascript A2592000
</ifModule>